@layer base {
  .textarea {
    padding: var(--spacing-2);
    width: 100%;
    min-height: 6rem;
    resize: vertical;
  }

  .textarea::placeholder {
    color: var(--muted-foreground);
  }

  .noResize {
    resize: none;
  }

  .clear {
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .clear:hover,
  .clear:focus {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }

}
